header{
	background-image: url(../img/hero.jpg);
	height: 500px;
	background-size: 100% 100%;
	color: white;
}

.nav-wrapper{
	padding: 2%;
}

.card-panel{
	margin: 0rem 0 0rem 0 !important;
}

.leaders{
	background-image: url(../img/footer.jpg);
	height: 600px;
	background-size: 100% 100%;
	color: white;
}

.colorverde{
	color: #90EE90;
}

.centrado{
	text-align: center;
}

.txt_blanco{
	color: white;
}

.txt_rojo{
	color: red;
}

.txt_verde{
	color: #90EE90;
}

footer{
	color: white;
}

i{
	margin: auto;
	color: white;
}

.bloquefooter{
	display: inline-block;
}

.resize{
	height: 400px;
	width: 100%;
}

.bold{
	font-weight: bold;
}

nav {
  background-color:transparent !important;
  box-shadow: 0 0px 0px 0 !important;
  -webkit-box-shadow: 0 0px 0px 0 !important;}

.margin{
	padding: 2%;
	margin-top: 15%;
}

.alignright{
	margin-left: 40%;
}

.padding{
	padding: 1%;
}